{
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@components", "./src/components"],
          ["@pages", "./src/pages"],
          ["@utils", "./src/utils"],
          ["@assets", "./src/assets"]
        ],
        "extensions": [".js", ".jsx", ".json"]
      }
    }
  }
}
/*
type A = string | number;
var a : string | number = 'a';

var a : string | number = 'a';

var a : string | number = 'a';

var a : string | number = 'a';
var a : A = 'a';

subscribers('토큰')*/
